<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Student-dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  </head>

  <body>
    <header>
      <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #333; padding: 10px 0;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}" style=" font-size:180%;"><span style="color: crimson;">M</span>ock <span style="color: crimson;">M</span>entor</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  style=" font-size:130%;"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" style=" font-size:130%;" href="{% url 'history' %}">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style=" font-size:130%;" href="{% url 'checkPosition' %}">CheckPosition</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style=" font-size:130%;" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style=" font-size:130%;" href="#">Logout</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header -->
 <!-- <section id="header" style="background-color: #333; padding: 20px 0;">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero">
          <h1><span>S</span>haif <span>A</span>rfan</h1>
        </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="#hero" data-after="Home">Home</a></li>
          <li><a href="#services" data-after="Service">Services</a></li>
          <li><a href="#projects" data-after="Projects">Projects</a></li>
          <li><a href="#about" data-after="About">About</a></li>
          <li><a href="#contact" data-after="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- End Header -->
    <br /><br />
    <main>
      {% if messages %} {% for msg in messages %}
      <div class="alert alert-{{msg.tags}}">{{msg}}</div>
      {% endfor %} {% endif %} {% block content %} {% endblock content %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function(){
        $('#open-dialog-btn').click(function(){
            $('#dialog-box').dialog({
                modal: true,
                width: 'auto',
                buttons: {
                    "Submit": function() {
                        // Submit the form via AJAX
                        $('#my-form').submit();
                    },
                    "Cancel": function() {
                        $(this).dialog('close');
                    }
                }
            });
        });
    });
    </script>
    <script>
      
    </script>
  </body>
</html>
