{% extends 'dashboard/base.html' %} {% load static %} {% load crispy_forms_tags
    %} {% block content %}
    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <br>

<div class="jumbotron jumbotron-fluid  text-center">
    <h1 class="display-4">Log In to Your Account</h1>
    <p class="lead text-muted">Welcome back!</p>

    <form method="post" action="/signin" class="mx-auto" style="max-width: 300px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input type="text" class="form-control form-control-lg rounded-pill" id="username" name="username" placeholder="Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1" class="sr-only">Password</label>
            <input type="password" class="form-control form-control-lg rounded-pill" id="pass1" name="pass1" placeholder="Password" Required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg rounded-pill">Log In</button>
    </form>
</div>

</body>
</html>

{% endblock content %}